
# BEGIN WordPress
<IfModule mod_rewrite.c>
AddDefaultCharset utf-8

 RewriteEngine On
# RewriteBase /pr/
 RewriteBase /
# RewriteRule ^index\.php$ - [L]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /pr/index.php [L]
 RewriteRule ^(.*)$ index.php
 </IfModule>

# END WordPress