#u878,#u880
{
	background-color: transparent;
}

#buttonu957
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 20px;
}

#buttonu957:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #545454;
}

#u959-4
{
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#buttonu957:hover #u959-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu967
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 20px;
}

#buttonu967:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #545454;
}

#u968-4
{
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#buttonu967:hover #u968-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu973
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 20px;
}

#buttonu973:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #545454;
}

#u974-4
{
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#buttonu973:hover #u974-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu979
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 20px;
}

#buttonu979:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #545454;
}

#buttonu957.ButtonSelected,#buttonu967.ButtonSelected,#buttonu973.ButtonSelected,#buttonu979.ButtonSelected
{
	background-color: #FFFFFF;
}

#u980-4
{
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#buttonu979:hover #u980-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu957.ButtonSelected #u959-4 p,#buttonu967.ButtonSelected #u968-4 p,#buttonu973.ButtonSelected #u974-4 p,#buttonu979.ButtonSelected #u980-4 p
{
	color: #000000;
	visibility: inherit;
}

#u901
{
	background: #000000 url("../images/ierrnx1sfs8.jpg") no-repeat center top;
	background-size: cover;
}

#u901_align_to_page
{
	max-width: 1280px;
}

#u985-2
{
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 10px;
	font-weight: bold;
}

#u985-4
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u985-6
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u985-8
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u985-10
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u985-12
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u985-14
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u985-17,#u991-11
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u991-2
{
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 10px;
	font-weight: bold;
}

#u991-4
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u991-6
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u991-7
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}

#u991-9
{
	font-size: 16px;
	line-height: 19px;
	padding-bottom: 10px;
}


