.version.untitled_2 /* version checker */
{
	color: #00001E;
	background-color: #377AD1;
}

#page
{
	z-index: 1;
	min-height: 585.9000000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#u878
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	left: 20px;
	width: 6.33%;
}

#u880
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 111px;
	width: 18.05%;
}

#buttonu957
{
	z-index: 7;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 10.63%;
	left: 54.77%;
}

#buttonu957:hover
{
	min-height: 0px;
	width: 10.63%;
	margin: 21px -10000px 0px 0%;
}

#u959-4
{
	z-index: 8;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 87.5%;
	left: 5.89%;
}

#buttonu957:hover #u959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 87.5%;
	margin: 7px -10000px 0px 0%;
}

#buttonu967
{
	z-index: 12;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 10.63%;
	left: 65.79%;
}

#buttonu957.ButtonSelected,#buttonu967:hover
{
	min-height: 0px;
	width: 10.63%;
	margin: 21px -10000px 0px 0%;
}

#u968-4
{
	z-index: 13;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 87.5%;
	left: 5.89%;
}

#buttonu957.ButtonSelected #u959-4,#buttonu967:hover #u968-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 87.5%;
	margin: 7px -10000px 0px 0%;
}

#buttonu973
{
	z-index: 17;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 10.63%;
	left: 76.8%;
}

#buttonu967.ButtonSelected,#buttonu973:hover
{
	min-height: 0px;
	width: 10.63%;
	margin: 21px -10000px 0px 0%;
}

#u974-4
{
	z-index: 18;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 87.5%;
	left: 5.89%;
}

#buttonu967.ButtonSelected #u968-4,#buttonu973:hover #u974-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 87.5%;
	margin: 7px -10000px 0px 0%;
}

#buttonu979
{
	z-index: 22;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	width: 10.63%;
	left: 87.82%;
}

#buttonu973.ButtonSelected,#buttonu979:hover
{
	min-height: 0px;
	width: 10.63%;
	margin: 21px -10000px 0px 0%;
}

#buttonu979.ButtonSelected
{
	min-height: 0px;
	width: 10.63%;
	margin: 21px -10000px 0px 0%;
}

#u980-4
{
	z-index: 23;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 87.5%;
	left: 5.89%;
}

#buttonu973.ButtonSelected #u974-4,#buttonu979:hover #u980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 87.5%;
	margin: 7px -10000px 0px 0%;
}

#buttonu979.ButtonSelected #u980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 87.5%;
	margin: 7px -10000px 0px 0%;
}

#u868
{
	z-index: 55;
	background-color: transparent;
	position: relative;
	width: 34.77%;
	margin-left: 32.62%;
	left: 1px;
}

#u901
{
	z-index: 6;
	min-height: 229px;
	padding-bottom: 53px;
}

#u901_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u985-17
{
	z-index: 27;
	min-height: 172px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
	width: 21.41%;
}

#u991-11
{
	z-index: 44;
	min-height: 172px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	width: 21.41%;
	margin-left: 78.6%;
	left: -20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u901-bw
{
	z-index: 6;
	min-height: 229px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 256px;
}

#pu878,#u868_img,#u878_img,#u880_img
{
	width: 100%;
}


